$color-tone-1: #ffffff;
$color-tone-2: #818384;
$color-tone-3: #565758;
$color-tone-4: #3a3a3c;
$color-tone-5: #272729;
$color-tone-6: #1a1a1b;
$color-tone-7: #121213;

$header-height: 50px;

.main {
  background: $color-tone-7;
  min-height: 100vh;
}

.header {
  border-bottom: solid 1px $color-tone-4;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 37px;
}

.title {
  font-family: "nyt-karnakcondensed", serif;
  color: $color-tone-1;
  font-weight: 700;
  letter-spacing: 0.01em;
}